@import url('https://fonts.cdnfonts.com/css/tt-drugs-trial?styles=152888%27');


.titulo-prod-inicial {
    font-family: 'TT Drugs Trial', sans-serif;
    font-size: 15px !important;
    font-weight: bold !important;
  }

  .card-prod-inicial{
    width: auto !important;
    height: auto !important;
    border-radius:20px !important;
    background: #d9d0b0a8 !important;
    border-radius: 10px;
    border-radius: 8px;
    flex-wrap: wrap;
    display: flex;
    justify-content: center !important;
    text-align: center !important;
  }
  .card-prod-inicial:hover{

    transform: scale(1.1);
  }
  
  ::-webkit-scrollbar{
    width: 10px;
    height: 10px;
    }
    
    ::-webkit-scrollbar-thumb{
    background: #285B00; 
    }    
       
    ::-webkit-scrollbar-track{
    background: #d9d0b0a8;
    box-shadow: inset 0px 0px 0px 0px #F0F0F0;
    
    }

.botao-comprar{
  background-color: #cfad7dc9 !important;
  margin-top: 2%;
  color:maroon;
  font-family: 'TT Drugs Trial', sans-serif !important;
  font-weight: bold !important;


}