.sobre {
    font-weight: bold;
    color:#00341a!important;
    font-family: Verdana, sans-serif !important;
}
.tabs{
    background-color: #275b00a4!important;
}
.fontText{
    color: lavender!important;
    font-family: Verdana, sans-serif !important;
}
