.sobre {
    font-weight: bold;
    color:#00341a!important;
    font-family: Verdana, sans-serif !important;
}
.tabs{
    background-color:  #2A4009!important;
}
.fontText{
    color: lavender!important;
    font-family: Verdana, sans-serif !important;
    text-align: justify !important;

}

.flex-container {
    display: flex;
    justify-content: space-around;
    text-align: justify;
 }

 .flex-container > div{
    margin: 10px;
    padding: 20px;
    font-size: 20px;
 }
 