.sobre {
    font-weight: bold;
    color:#00341a!important;
    font-family: Verdana, sans-serif !important;
}
.tabs{
    background-color:  #285B00!important;
    font-size: 20px !important;
    
}
.fontText{
    color: lavender!important;
    font-family: 'TT Drugs Trl Cnd', sans-serif !important;
    text-align: justify !important;
    font-size: 20px !important;

}

.flex-container {
    display: flex;
    justify-content: space-around;
    text-align: justify;
 }

 .flex-container > div{
    margin: 10px;
    padding: 20px;
    font-size: 20px;
 }

 .text-label {
    font-size: 23px !important;
    font-family: 'Kirsty', sans-serif !important;

 }
 
 