@import url('https://fonts.cdnfonts.com/css/kirsty');


.container-menu {

    display: flex;
    justify-content:space-evenly;
    background-color: #2A4009;
  
}

.nav-titulo{
    font-family: 'Kirsty', sans-serif !important;
    font-size: 25px !important;
    color: #F2F2F2;
    text-decoration: none !important;
}

.text-none{

    text-decoration: none !important;
}

