.bg-cadastro{
    background-image: url('src/assets/img/background.jpg');
    background-repeat: no-repeat;
    width: 100vh;
    min-height: 100vh;
    background-size: cover;
    background-position: center;
}

.textos1{
    color: #F2F2F2 !important;
    text-shadow: black 1px 1px;
    font-family: 'Kirsty', sans-serif !important;
    font-size: 50px !important;
}

.textos2{
    font-weight: bold!important;
}

.btnCancelar{
    margin-right: 20px!important;
}

.cardForm{ 
    width: 600px;
    height: 600px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    background: rgba(184, 233, 134, 0.25);
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border-radius: 8px;
   
}

.textLink{
    padding: 20px;
}

.btn-cad{
    padding-top: 30px;
}

.container-cad{
    padding-top: 50px;
}

